In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
laptops = pd.read_csv("../data/raw/Laptop_Train_v2.csv")

laptops.head()

,id,Sentence,Aspect Term,polarity,from,to
0,2339,I charge it at night and skip taking the cord ...,cord,neutral,41,45
1,2339,I charge it at night and skip taking the cord ...,battery life,positive,74,86
2,1316,The tech guy then said the service center does...,service center,negative,27,41
3,1316,The tech guy then said the service center does...,"""sales"" team",negative,109,121
4,1316,The tech guy then said the service center does...,tech guy,neutral,4,12

In [16]:
print("shape",laptops.shape)
laptops.head()

shape (2358, 6)

,id,Sentence,Aspect Term,polarity,from,to
0,2339,I charge it at night and skip taking the cord ...,cord,neutral,41,45
1,2339,I charge it at night and skip taking the cord ...,battery life,positive,74,86
2,1316,The tech guy then said the service center does...,service center,negative,27,41
3,1316,The tech guy then said the service center does...,"""sales"" team",negative,109,121
4,1316,The tech guy then said the service center does...,tech guy,neutral,4,12

In [17]:
# Check for missing (NaN) values in each column
print(laptops.isnull().sum())

# Optionally show rows with missing values (if any)
missing_rows = laptops[laptops.isnull().any(axis=1)]
missing_rows.head()

id             0
Sentence       0
Aspect Term    0
polarity       0
from           0
to             0
dtype: int64

Empty DataFrame
Columns: [id, Sentence, Aspect Term, polarity, from, to]
Index: []

In [10]:
train_df = pd.read_csv("../data/raw/Laptops_Test_Data_PhaseA.csv")

train_df.head()

       id                                           Sentence
0   892:1  Boot time is super fast, around anywhere from ...
1  1144:1  tech support would not fix the problem unless ...
2   805:2                 but in resume this computer rocks!
3   359:1                                   Set up was easy.
4   562:1  Did not enjoy the new Windows 8 and touchscree...

In [12]:
train_df.isnull().sum()

id          0
Sentence    0
dtype: int64

In [18]:
laptops.to_csv("../data/processed/Laptop_Train_Cleaned.csv", index=False)